<div class="row">
<label class="span2"> {{field.label}} </label> 
{{#if field.editable}}
	<input class="span2 datepicker" name="{{field.name}}" value="{{field.value}}"></input> <i class="warning-triangle"></i>
{{else}}
	<section class="span2" name="{{field.name}}"> {{field.value}}</section> 
{{/if}}
</div>