{{input type="text" value=searchText}}

The Search Text: {{searchText}}
<br>
EXAMPLE>>{{exampleProperty}}
<br>

{{searchResults}}
<ul>
	{{#each searchResults}}
		<li> ABC {{this}}</li>
	{{/each}}
</ul>


<input class="typeahead" type="text" placeholder="States of USA">
