<div class="row">
<label class="span2"> {{field.label}} </label> 
{{#if field.editable}}
	<input class="span4" name="{{field.name}}" value="{{field.value}}"></input><div class="warning-circle"><i class="icon-warning-sign icon-white"></i></div>
{{else}}
	<section class="span4" name="{{field.name}}" >{{field.value}}</section> 
{{/if}}
</div>